body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fdb93c;
}
body::after {
  content: 'PIZZA';
  position: absolute;
  top: -20px;
  left: 880px;
  z-index: -1;
  font-size: 150px;
  color: rgba(253, 172, 25, 0.5);
}

.wrapper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 50%;

  text-align: center;
}

.slice {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  will-change: transform;
  -webkit-animation: grub 1s ease-in-out infinite alternate;
          animation: grub 1s ease-in-out infinite alternate;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  -webkit-transform-origin: 460px 180px;
          transform-origin: 460px 180px;
}

@-webkit-keyframes grub {
  100% {
    -webkit-transform: rotate(100deg) translateX(15px) translateY(11px);
            transform: rotate(100deg) translateX(15px) translateY(11px);
  }
}

@keyframes grub {
  100% {
    -webkit-transform: rotate(100deg) translateX(15px) translateY(11px);
            transform: rotate(100deg) translateX(15px) translateY(11px);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


body{
  margin-left: 100px;
  margin-right: 250px;
}

user{
  margin-left: 300px;
  margin-right: auto;
  margin-top: -37px;
}


#chatbox{
  border-style: solid;
    /* top right bottom left */
    padding: 200px 50px 0px 100px;
}
.container {
	margin: 0 auto;
	height: 80%;
	width: 80%;
	background: #ddd;
	border-radius: 5px;
	padding: 10px;
	resize: vertical;
}
input[type=text], input[type=send]{
	font-size: 1.4em;
	text-align: left;
	margin: 15px auto 0 auto;
	padding: 10px;
	display: inline;
	font-family: verdana;
}	
input[type=text]{
	width: 70%;
	font-style: italic;
	border-bottom: 1px solid #666;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	background: #eee;
	resize: vertical;
}

input[type=submit]{
	width: 25%;
  height: 3em;
	text-align: center;
	font-family: verdana;
	font-size: 15px;
}


#response {
	margin: 0 auto;
	height: 15em;
	width: 95%;
	padding: 8px 29px 8px 22px;
	border: 0px solid #eee;
	font-family: Verdana;
	font-size: 1.4em;
	overflow: auto;
	background: rgba(255,255,255,.5);
  resize: vertical;
}
   
 .blue {
	color: blue;
}

.red {
	color: red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fdb93c;
}
body::after {
  content: 'PIZZA';
  position: absolute;
  top: -20px;
  left: 880px;
  z-index: -1;
  font-size: 150px;
  color: rgba(253, 172, 25, 0.5);
}

.wrapper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 50%;

  text-align: center;
}

.slice {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  will-change: transform;
  -webkit-animation: grub 1s ease-in-out infinite alternate;
          animation: grub 1s ease-in-out infinite alternate;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  -webkit-transform-origin: 460px 180px;
          transform-origin: 460px 180px;
}

@-webkit-keyframes grub {
  100% {
    -webkit-transform: rotate(100deg) translateX(15px) translateY(11px);
            transform: rotate(100deg) translateX(15px) translateY(11px);
  }
}

@keyframes grub {
  100% {
    -webkit-transform: rotate(100deg) translateX(15px) translateY(11px);
            transform: rotate(100deg) translateX(15px) translateY(11px);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



